<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="DefaultConnection"
             connectionString="server=127.0.0.1;port=3306;database=client_schedule;user=sqlUser;password=Passw0rd!"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>